<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascrip:void(0)" (click)="showHome()">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div style="margin: 2% 00;">
        <button type="button" class="btn btn-warning" (click)="showEmplyee()">Show Employee</button> &nbsp;
        <button type="button" class="btn btn-success" (click)="addEmployee()">Add Employee</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form *ngIf="formDisplay">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" #name>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Designation</label>
      <input type="text" class="form-control" id="exampleInputPassword1" #designation>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Image</label>
      <input type="text" class="form-control" id="exampleInputPassword1" #image>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitData(name.value, designation.value, image.value)">Submit</button>
  </form>
</div>


<div class="container" *ngIf="showEmployee">
  <div class="row">
    <div class="col" *ngFor="let emp of arr">
      <div class="card" style="width: 18rem;">
        <img src="{{emp.image}}" class="card-img-top" alt="{{emp.name}}">
        <div class="card-body">
          <h5 class="card-title">{{emp.name}}</h5>
          <p class="card-text">{{emp.designation}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div style="margin: 2% 00;">
        <button type="button" class="btn btn-danger" *ngIf="backbtn" (click)="showHome()">Back to Home</button>
      </div>
    </div>
  </div>
</div>



