<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col">
      <div style="margin: 2% 00;">
        <button type="button" class="btn btn-warning" (click)="showEmplyee()">Show Employee</button> &nbsp;
        <button type="button" class="btn btn-success" (click)="addEmployee()">Add Employee</button>
      </div>
    </div>
  </div>
</div>

<!-- this displays your form to add new Employee -->
<app-form (btnClick)="addToDb($event)" *ngIf="formDisplay"></app-form>

<app-rmp *ngIf="showEmployee"></app-rmp>

<div class="container">
  <div class="row">
    <div class="col">
      <div style="margin: 2% 00;">
        <button type="button" class="btn btn-danger" *ngIf="backbtn" (click)="showHome()">Back to Home</button>
      </div>
    </div>
  </div>
</div>



