<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Directives</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>


<button *ngIf="!btn"  type="button" (click)="showHome()" class="btn btn-light">back</button>

<div class="txt1" *ngIf="btn">
  <button (click)="displayEmpForm()" type="button" class="btn btn-light">Add New Employee</button>
<button (click)="displayEmp()" type="button" class="btn btn-light">Display Current Employee</button>
</div>

<h1>Welcom to home page</h1>

